<tr>
    <td><%= employee.firstName.capitalize %></td>
    <td><%= employee.lastName.capitalize %></td>
    <td><%= employee.username %></td>
    <td><%= employee.email %></td>
    <td><%= employee.ext %></td>
    <td><%= employee.directPhone %></td>
    <td><%= employee.directFax %></td>
    <td><%= employee.dob%></td>
    <td><%= link_to "View", employee_path(employee.id) %></td>
</tr>