<h2 class="ui center aligned icon header">
  <i class="circular user blue icon"></i>
  <%= @employee.firstName.capitalize %> <%= @employee.lastName.capitalize %>
</h2>

<div class="ui top attached tabular menu">
  <a class="item active" data-tab="info">Info</a>
  <a class="item" data-tab="locations">Locations</a>
  <a class="item" data-tab="security">Security</a>
  <a class="item" data-tab="applications">Applications</a>
  <a class="item" data-tab="compliance">Compliance</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="info">
  <%= render 'employees/partials/emp_info' %>
</div>
<div class="ui bottom attached tab segment" data-tab="locations">
  <%= render 'employees/partials/loc_info' %>
</div>
<div class="ui bottom attached tab segment" data-tab="security">
  <%= render 'employees/partials/sec_info' %>
</div>
<div class="ui bottom attached tab segment" data-tab="applications">
  <%= render 'employees/partials/app_info' %>
</div>
<div class="ui bottom attached tab segment" data-tab="compliance">
  <%= render 'employees/partials/compliance_info' %>
</div>

<div class="ui buttons">
  <%= link_to "Go Back", root_path, class: "ui button" %>
  <div class="or"></div>
  <%= link_to "Edit", edit_employee_path(@employee), class: "ui positive button" %>
</div>