<%= link_to "Home", root_path, class: "item" %>
<% if user_signed_in? %>
    <%= link_to "Reports", root_path, class: "item" if current_user.admin? or current_user.moderator?%>
    <div class="ui dropdown item">
        View <i class="dropdown icon"></i>
        <div class="menu">
            <%= link_to "Employees", employees_path, class: "item" %>
            <% if current_user.admin? %>
                <%= link_to "Disabled Employees", disabled_employees_path, class: "item" %>
            <% end %>
            <%= link_to "Locations", locations_path, class: "item" %>
            <%= link_to "Securities", securities_path, class: "item" %>
            <%= link_to "Applications", programs_path, class: "item" %>
        </div>
    </div>
    <% if current_user.admin? %>
        <div class="ui dropdown item">
            New <i class="dropdown icon"></i>
            <div class="menu">
                <%= link_to "Employee", new_employee_path, class: "item" %>
                <%= link_to "Location", new_location_path, class: "item" %>
                <%= link_to "Security", new_security_path, class: "item" %>
                <%= link_to "Application", new_program_path, class: "item" %>
            </div>
        </div>
    <% end %>
<% end %>

<div class="right menu">
    <div class="ui dropdown item">
        <% if user_signed_in? %>
            <%= current_user.email %> <i class="dropdown icon"></i>
        <% else %>
            Account <i class="dropdown icon"></i>
        <% end %>
        <div class="menu">
            <% if user_signed_in? %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "item" %>
            <% else %>
                <%= link_to "Login", new_user_session_path, class: "item" %>
            <% end %>
        </div>
    </div>
    <% if !user_signed_in? %>
        <div class="item">
            <%= link_to "Sign up", new_user_registration_path, class: "ui primary button" %>
        </div>
    <% end %>
</div>